
*{
  margin: 0;
  padding: 0;
  border: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "poppins", sans-serif;
  line-height:  1.7;
  color:white;
  background:rgb(249, 220, 218, 100%);

}
.container{
  width: 80%;
  margin: 0 auto;
}
.section{
  padding: 6rem 0;

}
section h2{
  text-align: center;
  margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
  line-height: 1.2;

}
h1{
font-size: 2.4rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size:1.6rem 
  ;
}
h4{
  font-size: 1.3rem;

}
a{
  color: rgb(181, 178, 178) ;
}
img{
  display: flex;
  align-items:center;
  color: #fff;
  padding: 10px 10 10 2px;
  margin-right: 60px;
  width: fit-content;
  
  



}
.btn{
  display: inline-block;
  background: white;
  color: black;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition:all 400ms ease ;
}
.btn:hover{
  background: transparent;
  color: white;
  border-color: white;
}
.btn-primary{
  background: red;
  color: white;
}

nav{
  background: rgb(119, 82, 82);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
.nav__menu{
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__container{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav button{
  display: none;
}

.nav__menu a{
  font-size: 0.9rem;
  transition: all 400ms ease;
  position: relative;
}
a:hover{
  color: white;
}
header{
  position: absolute;
  top: 10rem;
  color: rgb(56, 40, 40);
  height: 50vh;
  margin-bottom: 5rem;
  width: 50vh;
  object-fit: cover;
  border-radius: 50%;
}
.header_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__right{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;

}
 

.details {

margin-left: 500px;
  margin-bottom: 20px;
  


  
}

.info {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

label {
  font-weight: bold;
  margin-right: 30px;
  display:flex;
  align-items: baseline;
}

span{
  font-style:normal;
}
.details {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.details td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.details label {
  font-weight: bold;
}

.details span {
  margin-left: 1px;
}

